.mytext {
    color:rgba(74, 58, 252, 0.323);
    font-size:30px;
    font-family:fantasy;
    text-align:center;
}
.ggs {
    color:rgba(0, 183, 255, 0.89);
    font-family:fantasy;
    text-align:center;
    font-size: 50px;
}
.clap {
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
   color: white;
   font-size: 20px;
   text-align:center;

}
