body {
    margin: 0;
    min-height: 100vh;
    background:repeating-linear-gradient(
        270deg,
        black,
        rgb(0, 65, 70),
        black,
        rgb(0, 65, 70),
        black,
        rgb(0, 65, 70),
        black,
        rgb(0, 65, 70),
        black,
        rgb(0, 65, 70),
        black
    );
    background-size: 300% 300%;
    animation: clap 20s ease-in-out infinite;
}
@keyframes clap{
    0% { background-position: 0% 50%}
    50% { background-position: 100% 50%}
    100% { background-position: 0% 50%}
}
h1 {
  display: inline-block;
  padding: 5px 60px;
  color:white;
  font-size: 50px;
  font-family:cursive;
  

  background: linear-gradient(
    90deg,
    rgb(87, 87, 87),
    rgb(28, 28, 28)
  );
  box-shadow: 0px 0px 20px rgba(251, 251, 251, 0.6);
  border-radius: 1000px;
}

